# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
playwright-report/
test-results/
__local__screenshots__/
.pnpm-store/

/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

**/node_modules
**/.tmp
**/dist
**/.env
**/.next
**/.pnpm-store

.content/
